.calc{
    width:400px;
    height: 600px;
    border:solid 6px;
    background:grey;
}
#screen{
    width:80%;
    height: 40px;
    margin-top: 14px;
    margin-left: 36px;
    pointer-events: none;
}
.btn{
    width: 60px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    background:rgb(172, 172, 102)
    
}